
$purple: #800080;
$magenta: #FF5CFF;
$light: #f8f8f8;
$dark-purple: #931db0;

$primary: $purple;
$link: $light;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$link: $light;

html {
    background: linear-gradient(to right top, $purple, $magenta);
}

html, body {
    height: 100%;
}