<div class="nav-bar">
            
    <div class = "library">
        <a routerLink="/library" class = "lib-link" > 
            <p> Libraray</p>
        </a>
    </div>

    <div class="contribute">
        <a routerLink="/contribute" class = "con-link">
            <p> Contribute</p>
        </a>
    </div>

</div>

<div class="centered-content">
        
    <div class="search">
                
        <div class="search-bar">
            <input name = "q" type = "text" placeholder = "search">
        </div>
                
     </div>
     
</div>
