<div class="nav-bar">
     
    <div>
        <button class = "search" routerLink = "/" > Search </button>
    </div>

    <div>
        <button class = "library" routerLink = "/library" > Library </button>
    </div>
   
    <div>
        <button class = "contribute" routerLink = "/contribute" > Contribute </button>
    </div>

</div>

<div class="centered-content">
        
    <div class="search-bar">
        <input class = "q" name = "q" type = "text"  >
        <button class = "search-button" name = "search-button"> Search</button>
    </div>
     
</div>
