<div class="nav-bar">
    
    <div>
        <button class = "search" routerLink = "/" > Search </button>
    </div>
    
    <div>
        <button class = "library" routerLink = "/library" > Library </button>
    </div>
   
    <div>
        <button class = "contribute" routerLink = "/contribute" > Contribute </button>
    </div>

</div>


<div class = "centered-content">

    <div class = "adding-information-to-library">
        <div class = "sidebar has-background-white-bis">
            <h1 class = "title">Data</h1>

            <div class="data-menu">
                <a class="data-menu-item"> <p>Title</p>  
                </a>
                <a class="data-menu-item"> <p>Authors </p>
                </a>
                <a class="data-menu-item"> <p>Email</p> 
                </a>
                <a class="data-menu-item"> <p>ISBN</p> 
                </a>
                <a class="data-menu-item"> <p>Published Date</p> 
                </a>
                <a class="data-menu-item"> <p>Description </p>
                </a>
                

            </div>
            

        </div>

        <div class = "information-panel has-background-light" >
            <h1 class = "title">Enter Information</h1>
            
                <div class="information-menu">
                        
                    <form #itemInformation = "ngForm" (submit)="addNewPrintedMaterial(itemInformation.value)">
                        
                        <div class="information-menu-item">
                            <input type = "text" ngModel name = "itemTitle" class="input is-primary" placeholder="Enter Title Here">
                            <input type = "text" ngModel name = "itemType" class = "input is-primary" style="margin-left: 2px; max-width: 200px;" placeholder="Type" >
                        </div>
                        
                        <div class="information-menu-item">
                            <input type = "text" ngModel name = "authorName" class="input is-primary" placeholder="Enter Author(s) name here seperated by comma" >
                        </div>

                        <div class="information-menu-item">
                            <input type = "text" ngModel name = "authorEmail" class="input is-primary" placeholder="Enter Email of Author(s) seperated by comma" >
                        </div>
                        
                        <div class="information-menu-item">
                            <input type = "text" ngModel name = "itemIsbn" class="input is-primary" placeholder="Enter ISBN of book or magazine here" >
                        </div>

                        <div class="information-menu-item">
                            <input type = "text" ngModel name = "itemPublishedDate" class="input is-primary" placeholder="Enter Published Date here" >
                        </div>

                        <div class="information-menu-item">
                            <textarea type = "text" ngModel name = "itemDescription" class="textarea is-primary" placeholder="Enter Description Here" ></textarea>
                        </div>

                        <div class="submit-button">
                            <button class="button is-primary" >Submit</button>
                        </div>

                    </form>
            </div>
        
        </div>
    </div>

    
        
</div>





