<div class="nav-bar">
    
    <div>
        <button class = "search" routerLink = "/" > Search </button>
    </div>
    
    <div>
        <button class = "library" routerLink = "/library" > Library </button>
    </div>
   
    <div>
        <button class = "contribute" routerLink = "/contribute" > Contribute </button>
    </div>

</div>


<div class = "centered-content">

    <div class = "adding-information-to-library">
        <div class = "sidebar has-background-white">
            <h1 class = "title">Data</h1>

            <div class="data-menu">
                <a class="data-menu-item"> <p>Title</p>  
                </a>
                <a class="data-menu-item"> <p>Authors </p>
                </a>
                <a class="data-menu-item"> <p>Email</p> 
                </a>
                <a class="data-menu-item"> <p>ISBN</p> 
                </a>
                <a class="data-menu-item"> <p>Published Date</p> 
                </a>
                <a class="data-menu-item"> <p>Description </p>
                </a>


            </div>

        </div>

        <div class = "information-panel has-background-light" >
            <h1 class = "title">Enter Information</h1>
            
            <div class="information-menu">
                
                <div class="information-menu-item">
                    <p> Enter Title Here </p>
                </div>

                <div class="information-menu-item">
                    <input class = "is-text-area" name = "printed-material-title" type = "text" >
                </div>
                


            </div>
        
        </div>
    </div>
        
</div>

<div class="submit-button">
    <button class="is-button">Submit</button>
</div>

