@import "../../../main-styles.scss";

html {
    background: white;
}


.nav-bar {

    .sort-button {
        border-radius: 25px;
        margin-left: 5px;
        margin-top: 2px;
        width: 80px;
        height: 22px;
        background-color: white;
        color: purple;

        .dropdown-item {
            color: $purple;
        }
    }
}



.content {
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;

    .printed-material {
        display: flex;
        flex-direction: column;
        width: 100%;

        .table {
            margin-top: 20px;
            .table-row {
                .table-headings {
                    width: 150px;
                    background-color: $light;
                }
                .table-items {
                    color: $purple;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
    }

}